@font-face {
    font-family: "Neuton";
    src:
        local("Neuton"),
        url("src/static/fonts/Neuton.ttf") format("truetype");
}

@font-face {
    font-family: "SBL Greek";
    src:
        local("SBL Greek"),
        url("src/static/fonts/SBL\ Greek.ttf") format("truetype");
}

@font-face {
    font-family: "SBL Hebrew";
    src:
        local("SBL Hebrew"),
        url("src/static/fonts/SBL\ Hebrew.ttf") format("truetype");
}

@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-Thin.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-UltraLight.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-Black.ttf") format("truetype");
}
@font-face {
    font-family: "Geist";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("src/static/fonts/Geist/Geist-UltraBlack.ttf") format("truetype");
}
