@import url("@/static/fonts/fonts.css");

:root {
    --size-navbar-height: 55px;
    --size-navbar-height-small: 40px;
    --size-navbar-clear-left: 68px;
    --size-sidebar-width: 300px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
    font-family: "Homemade Apple"; /* ridiculous font, to show where font not set */
    font-size: calc(15px * var(--zoom-factor));
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
