:root {
    --clr-background: #323437;
    --clr-background-dark: #2c2e31;
    --clr-main: #e2b714;
    --clr-text: #d1d0c5;
    --clr-text-sub: #646669;
    --clr-text-highlight: #ffffff;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, Roboto;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
