:root {
    --size-navbar-height: 55px;
    --size-navbar-clear-left: 68px;
    --size-sidebar-width: 300px;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family:
        system-ui,
        -apple-system,
        Roboto;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Neuton";
    src:
        local("Neuton"),
        url("static/fonts/Neuton.ttf") format("truetype");
}
